.login__section,
.signup__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login__section > div {
  width: 75%;
}
.signup__section > div {
  width: 80%;
}

.login__section > div,
.signup__section > div {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 1rem;
  overflow: hidden;
}

.socialLogin {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.socialLogin > div {
  padding: 0.6rem;
  border-radius: 100%;
  border: 1px solid var(--color-secondary);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.socialLogin > div:hover {
  background-color: var(--color-secondary);
  color: white;
}

.form {
  padding: 2rem;
}

.btn__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn__div > button,
.info__btn > button {
  padding: 0.6rem 0.8rem;
  text-align: center;
  color: white;
  background-color: var(--color-secondary);
  border-radius: 1rem;
  width: 50%;
  text-transform: uppercase;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  font-weight: 700;
}

.btn__div > button:hover {
  background-color: rgb(11, 70, 63);
}

.info__btn > button {
  color: white;
  border: 1px solid white;
}

.info__btn > button:hover {
  background-color: white;
  color: var(--color-secondary);
}
.info__btn {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
}

@media (max-width: 768px) {
  .login__section,
  .signup__section {
    padding: 1.2rem 0;
  }
  .login__section > div {
    width: 100%;
  }
  .signup__section > div {
    width: 100%;
  }

  .login__section > div,
  .signup__section > div {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
  }

  .info__btn {
    padding: 1rem 0.4rem;
  }
}
