.title {
  font-size: 2rem;
  color: var(--color-secondary);
  /* background-color: rgba(124, 124, 124, 0.219); */
  font-family: Ubuntu;
  padding-bottom: 1.5rem;
}

.roommakeover {
  background-image: url("../../../images/room-make-over.webp");
  background-position: center;
  background-size: cover;
  padding: 5rem;
  font-family: Poplins;
}

.roommakeover__info {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 79, 93, 0.452) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.514) 0px 30px 60px -30px;
}

.roommakeover__info > button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);
  color: white;
  margin-top: 1.5rem;
  width: 40%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.roommakeover__info > button:hover {
  background-color: rgb(3, 70, 70);
}
