.nav {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  color: #727070;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #ccc;
  padding: 0.7rem 0;
  font-family: Popplins;
}

.navList {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.navList:hover {
  color: black;
}

.active {
  position: relative;
  color: black;
}
.active::after,
.navList:hover::after {
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  content: "";
  width: 100%;
  background-color: black;
  height: 2px;
}

.moreinfo {
  font-size: 14px;
  color: rgb(102, 101, 101);
  font-family: Popplins;
  text-align: justify;
}

.reviews {
  padding: 0.7rem 0.9rem;
  background-color: rgba(26, 113, 243, 0.925);
  color: white;
  font-family: Popplins;
  font-size: 14px;
  width: 70%;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews:hover {
  background-color: var(--color-secondary);
}

@media (max-width: 768px) {
  .reviews {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .reviews {
    font-size: 12px;
  }
}
