/* sliders arrows */
.arrows {
  color: white;
  z-index: 50;
  position: absolute;
  top: 30%;
  font-size: 18px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100%;
  background-color: var(--color-secondary);
}
.arrows:hover {
  opacity: 0.9;
}
.leftArrow {
  left: -1.5rem;
}
.rightArrow {
  right: -1.5rem;
}

/* absoulute btn  on images*/

.newBtn,
.saleBtn {
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  z-index: 60;
  background-color: var(--color-secondary);
  color: white;
  width: 80px;
  font-size: 14px;
  text-align: center;
  padding: 0.5rem;
  transform: rotate(90deg);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saleBtn {
  background-color: var(--color-danger);
}

.product__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.price {
  color: var(--color-secondary);
  font-size: 24px;
  font-weight: 600;
}

.reference > b,
.condition > b {
  color: rgb(83, 82, 82);
}

.stockCheck {
  color: var(--color-secondary);
  font-weight: bold;
}

.selectOption {
  padding: 0.2rem 0.4rem;
  outline: none;
  border: 1px solid #ccc;
  color: rgb(99, 98, 98);
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.action > div > input[type="number"] {
  width: 30px;
  outline: none;
  text-align: center;
}

.addToCard {
  text-transform: uppercase;
  border: 2px solid var(--color-secondary);
  border-radius: 0.4rem;
  color: white;
  background-color: var(--color-secondary);
  padding: 0.6rem 0.8rem;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  -o-transition: all 0.3 linear;
  -webkit-transition: all 0.2 linear;
}

.addToCard:hover {
  color: white;
  opacity: 0.8;
}

.addToCard > svg {
  font-size: 18px;
}

.wishlistbtn {
  padding: 0.5rem;
  border: 1.5px solid #ccc;
  /* border-radius: 0.3rem; */
  font-size: 18px;
  color: #ccc;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.active,
.wishlistbtn:hover {
  color: white;
  background-color: var(--color-secondary);
}

.share__btn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  font-size: 12px;
  color: rgb(66, 66, 66);
  font-weight: bold;
  text-transform: uppercase;
}

.share__btn > svg {
  font-size: 16px;
}

@media (max-width: 430px) {
  .action {
    flex-wrap: wrap;
    justify-content: start;
  }
}
