.sub__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-family: Arial !important;
  font-weight: 300;
}
.sub__nav > div:hover {
  color: var(--color-secondary);
}

.main__nav__section {
  position: sticky;
  top: -0.02rem;
  z-index: 100;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.4rem;
  font-family: Ubuntu;
}

.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main__nav__link {
  transition: all 0.1s linear;
  text-transform: uppercase;
}
.main__nav__link:hover {
  color: var(--color-secondary);
}

.side__icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.searchBox {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0.1rem 0.4rem;
}

.searchBox > input[type="search"] {
  padding: 0.5rem;
  outline: none;
}

.shopping__cart {
  padding: 0.4rem;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.shopping__cart {
  position: relative;
}

.shopping__cart::after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  content: attr(data-checkout);
  height: 20px;
  width: 20px;
  font-size: 12px;
  border-radius: 100%;
  color: white;
  background-color: var(--color-secondary);
}
