.sub__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-family: Arial !important;
  font-weight: 300;
}
.sub__nav > a:hover {
  color: var(--color-secondary);
}

.main__nav__section {
  position: sticky;
  top: -0.3rem;
  z-index: 100;
  background-color: white;
  padding: 0.5rem 1.4rem;
  font-family: Ubuntu;
}

.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main__nav__link {
  transition: all 0.1s linear;
  text-transform: uppercase;
}
.main__nav__link:hover {
  color: var(--color-secondary);
}

.side__icons {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  justify-content: center;
  align-items: center;
}

.searchBox {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0.1rem 0.4rem;
  width: fit-content;
}

.searchInput {
  padding: 0.4rem 0.5rem;
  outline: none;
}

.shopping__cart {
  padding: 0.4rem;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.shopping__cart {
  position: relative;
}

.shopping__cart::after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  content: attr(data-checkout);
  height: 20px;
  width: 20px;
  font-size: 12px;
  border-radius: 100%;
  color: white;
  background-color: var(--color-secondary);
}

/* responsive nav */
.responsive__div {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 50%;
  height: 100%;
  background-color: rgba(189, 102, 44, 0.911);
  color: rgb(255, 255, 255);
  transition: all 0.7s ease-in;
  border-radius: 30% 0 0 30%;
}

.responsive__link {
  font-style: italic;
}

@keyframes test {
  0% {
    right: -60%;
  }
  100% {
    right: 0;
  }
}

.responsive__nav {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.responsive__link {
  font-size: 18px;
}

@media (min-width: 788px) {
  .responsive__div {
    display: none;
  }
}

@media (max-width: 770px) {
  .shopping__cart {
    font-size: 14px;
  }
  .shopping__cart::after {
    font-size: 8px;
  }
  .main__nav {
    display: none;
  }
}

@media (max-width: 430px) {
  .searchBox {
    font-size: 10px;
    width: 180px;
  }
  .searchInput {
    width: 100%;
  }

  .main__nav {
    display: none;
  }
}
