.orderCard {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
  width: 60%;
}

.order__status__btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0.1rem 1rem;
}

.order__status__btns > button {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  font-size: 12px;
  font-weight: 600;
  color: rgba(11, 19, 15, 0.815);
  background-color: rgba(8, 79, 100, 0.479);
  text-transform: capitalize;
}

.order__status__btns > button:hover {
  opacity: 0.8;
}
.order__status__btns > button.active {
  opacity: 0.5;
  color: rgb(7, 7, 7);
}

@media (max-width: 768px) {
  .orderCard {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .order__status__btns {
    flex-wrap: wrap;
  }
}
