.myaccount__nav {
  display: flex;
  flex-direction: column;
}

.nav__name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  gap: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Poplins;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.active,
.nav__name:hover {
  background-color: var(--color-secondary);
  color: white;
}

.icon {
  font-size: 18px;
}
