.productReview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(75, 75, 75, 0.336);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reviewForm {
  min-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
}

.formInput {
  font-size: 14px;
  font-family: Popplins;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  color: rgb(41, 40, 40);
}

.ratingStar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  color: rgba(128, 128, 128, 0.623);
  font-size: 24px;
}

.active {
  color: orange;
}

.formInput > label {
  font-weight: 600;
}

.formInput > textarea {
  outline: none;
  border: 1px solid #ccc;
  padding: 0.6rem;
  font-size: 14px;
}

.btn {
  font-size: 14px;
  background-color: rgb(247, 136, 9);
  color: white;
  padding: 0.5rem 0.9rem;
  width: 100px;
  border-radius: 0.3rem;
  transition-duration: 0.2s;
}

.btn:hover {
  opacity: 0.7;
}

@media (max-width: 430px) {
  .reviewForm {
    min-width: fit-content;
  }
}
