.placeOrder {
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  background-color: var(--color-secondary);
  color: white;
  width: 60%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0.3rem;
}

.placeOrder:hover {
  opacity: 0.8;
}



