.DropDownCart {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  min-width: 300px;
  max-height: 80vh;
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  border-top: 2px solid var(--color-secondary);
  box-shadow: 0 2px 2px #ccc;
  padding: 0.2rem 1rem;
  overflow: scroll;
  z-index: 50;
}

.DropDownCart::-webkit-scrollbar {
  width: 10px;
}

.closeBtn {
  font-weight: bolder;
  cursor: pointer;
}

.checkoutBtn {
  padding: 0.8rem;
  background-color: var(--color-secondary);
  color: white;
  font-size: 14px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
