@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Popplins;
}

body {
  box-sizing: border-box;
  font-family: Ubuntu;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.849);
}

.success {
  color: green;
}
.error {
  color: red;
}
.warning {
  color: var(--color-danger);
}

@media (min-width: 1440px) {
  .custom-container {
    width: 1400px;
    margin-inline: auto;
  }
}

ul {
  list-style: disc;
  padding: 0.7rem 0;
}
ul li {
  margin-left: 1.5rem;
}
